/* DEFAULT STATE */

#name {
    height: 5.2vh;
    min-width: 30.2vh;
    margin-top: 2vh;
}

app-settings>svg {
     position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 13vw;
    height: 13vw;
    margin: 5vw;
    border-radius: 2.5vw;
    transform: translateZ(0) rotateZ(1deg);
    transition: 1s;
    backface-visibility: hidden;
}
app-settings.active>svg, app-settings.active>svg {
    transform: translateZ(0) rotateZ(90deg);
}
app-settings-menu {
    width: 40vw;
    display: block;
    height: 60vh;
    left: -40vh;
    bottom: 18vw;
    position: fixed;
    transition: 1s;
    border-radius: 10px;
    background: white;
    margin: 0 0 5vw 0;
}
.active app-settings-menu {
    left: 5vw;
}
app-settings-menu-option {
    display: block;
    height: 15%;
    padding: 5%;
    border-bottom: 1px solid black;
}
app-settings-menu-option svg {
    height: 100%;
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
app-menu {
    margin: auto;
    display: block;
    text-align: center;
}
app-header {
    transition:0.5s,  background 1s;
    width: 100%;
    margin: 0;
    display: block;
    position: sticky;
    top: -6.2vh;
    text-align: center;
    z-index: 2;
    background: white;
} 
app-select {
    transition: 0.15s;
    box-shadow: 0px 0px lightgrey;
    height: 100%;
    width: 32%;
    display: inline-block;
    background: linear-gradient(-45deg, #4df1cb,#4cd8f1 , #4186d3, #4e2cac, #e320a8 ,#ff6c9a );
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
}

app-select:hover {
    box-shadow: 4px 4px lightgrey;
    transform: translate(0, -7px);
}
app-select:active {
    box-shadow: 0px 0px lightgrey;
    transform: translate(0, 0px);
}

app-select-background div {
    transition: border-color 1s, background 1s;
    background: linear-gradient(-45deg, #4df1cb,#4cd8f1 , #4186d3, #4e2cac, #e320a8 ,#ff6c9a );
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    font-size: 3.5vw;
    height: 4vw;
    padding: 5px;
    width: 100%;

    text-align: center;
    font-family: 'Righteous', cursive;
    cursor: context-menu;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.3vw black;
    -webkit-background-clip: text;
}
app-select-background div, app-settings svg {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
app-select:hover div {
    background: linear-gradient(-45deg, #4df1cb,#4cd8f1 , #4186d3, #4e2cac, #e320a8 ,#ff6c9a );
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

app-select-background {
    display: block;
    border:5px solid white;
    background: white;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    transition: border-color 1s, background 1s;
}
app-select:hover app-select-background {
    margin: 5px;
    border:0;
}

app-content {
    width: 100%;
    height: 200vh;
    display: block;
    margin: auto;
    display: grid;
    grid-template-columns: 100vw 100vw 100vw;
    grid-template-rows: auto;
    position: relative;
    transition: 0.5s;
    left:0vw;
    transition-timing-function: cubic-bezier(0.93, 0.1, 0, 1.01);
}

[menu=info] app-content {
    height: 0vw;
}
[menu=projects] app-content {
    left:-100vw;
}
[menu=blog] app-content {
    left: -200vw
}
app-panel.info {
    grid-column: 1;
    grid-row: 1;
}
app-panel.projects {
    grid-column: 2;
    grid-row: 1;
}
app-panel.blog {
    grid-column: 3;
    grid-row: 1;
}
app-panel {
    width: 100%;
    height: 100vw;
    font-family: 'Righteous', cursive;
    transition:0.5s;
    float:right;
}

/* POSTS */
app-post {
    padding: 0;
    margin: 0;
    width: auto;
    margin-bottom: 0.5vh;
    display: block;
    transition:padding 1s;
}

app-post-header {
    display: block;
    padding: 0;
    height: 12vw;
    width: 80%;
    border: 1px solid black;
    background: white;
    margin: 0 10%;
    transition: 0.3s, border-color 1s, background 1s;
    position: relative;
}
app-post-header:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    box-shadow: 9px 11px 0px 0px #00000026;
    transition: 0.5s;
}
.active app-post-header:before {
    box-shadow: 9px 11px 0px 0px #00000026;
}
app-post-info {
    display: inline-block;
    height: 100%;
    padding-left: 1vw;
}
app-post-info p {
    margin:0;
    font-size: 1.5vw;
    color: black;
    font-family: monospace;
}
app-post-title {
    font-size: 5.5vw;
    text-shadow: 0px 0px 1px black;
}
app-post-title span{
    font-size: 2vw;
    -webkit-text-stroke:0;
}
app-post-day {
    font-size: 8vw;
    text-align: center;
    margin: 0 10px;
    height: 70%;
    display: block;
}
app-post-date {
    float: left;
    height: 100%;
    text-shadow: 0px 0px 1px black;
}
app-post-month {
    display: block;
    text-align: center;
    font-size: 2.5vw;
}
app-post-content {
    border: 1px solid black;
    border-width: 0 3px 3px 3px;
    width:70%;
    display: block;
    height: 0;
    overflow: hidden;
    text-align: center;
    padding: 0 5%;
    background-color: rgba(255, 255, 255, 0.96);
    transition: 0.3s;
    margin: 0 10%;
    position: relative;
    top: -3px;
    z-index: -1;
}
app-post.active app-post-content {
    padding: 5%;
    height: 100px;
}
app-post.active app-post-header {
    height: 22vw;
    margin: 0 5%;
    width: 90%;
    font-size: 11vw;
}
app-post:active app-post-header {
    height: 22vw;
    margin: 0 5%;
    width: 90%;
    font-size: 11vw;
}
app-post:focus {
    outline: none;
}
canvas {
    z-index: -3;
    position: fixed;
    top: 0;
    transition: background 1s;
}
/* Mobile */
@media (max-aspect-ratio: 2/3) {
    
    app-select-background div {
        font-size: 6vw;
        height: calc(100% - 10px);
        width: calc(100% - 10px);
    }
    app-select {
        height: 11vw;
    }
    app-content {
        width: 100%;
    }
    app-post {
        margin-bottom: 1.5vh;
    }
    app-post-header {
        border: 3px solid black;
        height: 20vw;
        font-size: 10vw;
    }
    app-post-day {
        height: 60%;
        font-size: 1.2em;
    }
    app-post-month { 
        font-size: 0.55em;
    }
    app-post-title {
        font-size: 0.8em;
    }
    app-post-info p {
        font-size: 0.3em;
    }
    app-post-date {
        margin: 0 10px;
    }
}
@keyframes fade{
    0%{fill:#4df1cb}
    20%{fill:#4186d3}
    40%{fill:#4e2cac}
    60%{fill:#e320a8}
    80%{fill:#ff6c9a}
}
path#name {
    animation:fade 10s infinite;
    fill:#4df1cb
}
path#name:nth-child(3){animation-delay:-8s}
path#name:nth-child(4){animation-delay:-7s}
path#name:nth-child(5){animation-delay:-6s}
path#name:nth-child(6){animation-delay:-5s}
path#name:nth-child(7){animation-delay:-4s}
path#name:nth-child(8){animation-delay:-3s}
path#name:nth-child(9){animation-delay:-2s}
path#name:nth-child(10){animation-delay:-1s}

/* MENU STATE */

[state=menu] app-header {
    height:auto;
    padding-bottom: 1vh;
}
h1 {
    font-size: 8vw;
}

.dark, .dark app-post-info p {
    transition: color 1s;
   color:white;
}
.dark app-header {
   
    background: rgb(37, 37, 37);
}

.dark app-select-background div {
    transition: -webkit-text-stroke 1s, -webkit-text-fill-color 1s;
    -webkit-text-stroke: 0;
}
.dark app-select-background div:hover {
 
}
.dark canvas {
    background: rgb(37, 37, 37);
}
.dark app-select-background {
    
    border-color: rgb(37, 37, 37);
    background: rgb(37, 37, 37);
}

.dark app-post-header {
    
    background: rgb(37, 37, 37);
}
