/* DEFAULT STATE */

h1 {
    color: white;  /* Fallback: assume this color ON TOP of image */
    /*background: url(/img/background.webp) repeat; */
    background: linear-gradient(-45deg, #4df1cb,#4cd8f1 , #4186d3, #4e2cac, #e320a8 ,#ff6c9a);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.3vw black;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: context-menu;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    margin: 0;
    font-size: 12vw;
    
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
html, body {
    width: 100vw;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
app-menu {
    margin: auto;
    display: block;
    text-align: center;
}
app-header {
    transition: 0.5s;
    width: 100vw;
    height: 100%;
    margin: 0;
    display: block;
} 
app-select {
    transition: 0.2s;
    box-shadow: 0px 0px lightgrey;
    height: 8vw;
    display: inline-block;
}
app-select:hover {
    background: linear-gradient(-45deg, #4df1cb,#4cd8f1 , #4186d3, #4e2cac, #e320a8 ,#ff6c9a );
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    box-shadow: 4px 4px lightgrey;
    transform: translate(0, -7px);
}


app-select-background div {
    font-size: 3.5vw;
    height: 4vw;
    padding: 1vw;
    width: 13vw;
    color: white;  /* Fallback: assume this color ON TOP of image */
    text-align: center;
    font-family: 'Righteous', cursive;
    cursor: context-menu;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.3vw black;
}

app-select-background {
    display: block;
    margin: 1vw;
}
app-select:hover app-select-background {
    background: white;
}

app-select div:hover {
    background: linear-gradient(-45deg, #4df1cb,#4cd8f1 , #4186d3, #4e2cac, #e320a8 ,#ff6c9a );
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
app-content {
    width: 61vw;
    height: 75vh;
    display: block;
    margin: auto;
}
app-container[menu=blog] app-panel.blog {
    height: 100%;
}
app-container[menu=projects] app-panel.projects {
    height: 100%;
}
app-container[menu=info] app-panel.info {
    height: 100%;
}
app-panel {
    width: 100%;
    height: 0;
    font-family: 'Righteous', cursive;
    overflow: hidden;
    overflow-y: scroll;
    transition:0.5s;
    float:right;
}

/* POSTS */
app-post {
    padding: 0;
    margin: 0;
    width: auto;
    margin-bottom: 0.5vh;
    display: block;
    transition:padding 1s;
}
app-post.active {
}
app-post-header {
    display: block;
    padding: 0;
    height: 12vw;
    width: 80%;
    border: 1px solid black;
    background: white;
    margin: 0 10%;
    transition: 0.5s;
    position: relative;
}
app-post-header:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    box-shadow: 9px 11px 0px 0px #0000006e;
    transition: 0.5s;
}
.active app-post-header:before {
    box-shadow: 9px 11px 0px 0px #0000006e;
}
app-post-info {
    display: inline-block;
    height: 100%;
    padding-left: 1vw;
}
app-post-info p {
    margin:0;
    font-size: 1.5vw;
    color: black;
}
app-post-title {
    font-size: 5.5vw;
    text-shadow: 0px 0px 1px black;
}
app-post-title span{
    font-size: 2vw;
    -webkit-text-stroke:0;
}
app-post-day {
    font-size: 8vw;
    text-align: center;
    margin: 0 10px;
    height: 70%;
    display: block;
}
app-post-date {
    float: left;
    height: 100%;
    text-shadow: 0px 0px 1px black;
}
app-post-month {
    display: block;
    text-align: center;
    font-size: 2.5vw;
}
app-post-content {
    border: 1px solid black;
    border-width: 0 3px 3px 3px;
    width:70%;
    display: block;
    height: 0;
    overflow: hidden;
    text-align: center;
    padding: 0 5%;
    background-color: rgba(255, 255, 255, 0.96);
    transition: 0.5s;
    margin: 0 10%;
    position: relative;
    top: -3px;
    z-index: -1;
}
app-post.active app-post-content {
    padding: 5%;
    height: 100px;
}
app-post.active app-post-header {
    height: 22vw;
    margin: 0 5%;
    width: 90%;
    font-size: 11vw;
}
app-post:focus {
    outline: none;
}
canvas {
    z-index: -3;
    position: fixed;
    top: 0;
}
/* Mobile */
@media (max-aspect-ratio: 2/3) {
    
    app-select-background div {
        font-size: 7vw;
        height: 9vw;
        padding: 1vw;
        width: 28.3vw
    }
    app-select {
        height: 13vw;
    }
    app-content {
        width: 100vw;
    }
    app-post {
        margin-bottom: 1.5vh;
    }
    app-post-header {
        border: 3px solid black;
        height: 20vw;
        font-size: 10vw;
    }
    app-post-day {
        height: 60%;
        font-size: 1.2em;
    }
    app-post-month { 
        font-size: 0.55em;
    }
    app-post-title {
        font-size: 0.8em;
    }
    app-post-info p {
        font-size: 0.3em;
    }
    app-post-date {
        margin: 0 10px;
    }
}

/* MENU STATE */

app-container[state=menu] app-header {
    height:auto;
    padding-bottom: 1vh;
}
h1 {
    font-size: 8vw;
}

